.dtc-page-header {
  background-position: top left;
  background-repeat: no-repeat;
  @apply h-10 text-lg pl-3 leading-10 mb-1 text-left;
  @apply bg-light-pattern text-black;
  //@apply bg-dark-pattern text-white;
}

.dtc-search-filters {
  position: relative;
  display: grid;
  max-height: 40px !important;
  margin-bottom: 12px;
  grid-template-columns: repeat(34, max-content);
  grid-gap: 0.4rem;
}

.dtc-grid-header {
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  padding-right: 0px;
  border: 1px solid white;
  > div {
    border-right: 1px solid white;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    padding: 4px 0;
  }
  > div:last-child {
    border-right: none;
  }
}

.dtc-grid-header__divs {
  > div {
    @apply bg-light-pattern text-black;
    span {
      display: inline-block;
      transform: translateY(4px);
    }
  }
}

.dtc-grid-body {
  border-top: none;
  > div {
    line-height: 35px;
    @apply px-1;
  }
}

.view-details {
  grid-column: 1 / -1;
  display: grid;
  background: black;
  color: white;
  min-height: 40px;
  font-size: 16px;
  margin: 10px;
  border-radius: 0px;
  text-align: center;
  line-height: 30px;
  label {
    all: unset;
  }
  header,
  main,
  label {
    display: grid;
    border-bottom: 1px solid white;
    border-top: none;
    grid-template-columns: 1fr 140px repeat(10, 1fr);
    background: gray;
    > div {
      border-right: 1px solid #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-size: 1rem;
      padding: 4px 0;
    }
  }
  label,
  main {
    border: none;
    border-bottom: 1px solid white;
    background: black;
    cursor: pointer;
  }
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;

  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
